* {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

body {
    background-color: #121212;
    color: #F5F5F5;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
}

body, footer, header {
    margin: 0 auto;
}


h2 {
    font-size: 2em;
    font-weight: bold;
    z-index: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}


/* Navbar */

#navbar {
    margin: 0 auto;
    padding: 24px 2.5rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    top: 0;
    width: calc(100% - 5rem);
    align-items: baseline;
}

#nav-list {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

#marchio-navbar {
    font-size: 24px;
    font-weight: bold;
}

.nav-item {
    width: 90px;
    text-align: center;
    font-size: 18px;
}

.nav-item a {
    color: #F5F5F5;
    text-decoration: none;
}

.nav-item a:hover {
    font-weight: bold;
}

.nav-scrolled {
    backdrop-filter: blur(5px);
    background-color: #121212F0;
  }

/* Hero section */

#hero h1 {
    font-family: "DM Serif Display", serif;
    font-size: 84px;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -5%;
    position: absolute;
    z-index: 0;
    top: 20%; 
    left: 5%; 
}

#hero img {
    width: 100%; 
}

/* Blocchi */

.blocco {
    display: grid;
    margin: 0 auto;
    padding: 30px 2.5rem;
    grid-template-columns: 66% 33%;
    max-width: 1000px;
}   

.blocco-titolo {
    margin-bottom: 20px; 
}

.blocco-testo p {
    line-height: 1.4;
    margin-bottom: 1.4rem; 
}

.blocco-didascalia {
    margin-top: 20px;
    font-size: 14px;
    font-style: italic;
}

.blocco-immagine {
    margin-left: 40px;
}

.immagine-ribbon {
    width: 100%;
}

#ribbon-finale {
    margin-bottom: 0px;
}

/* Footer */

#footer {
    background-color:#121212;
}

#marchio-footer {
    font-size: x-large;
    font-weight: bold;
    padding: 10px 2.5rem 0px 2.5rem;
    width: calc(100% - 5rem);
}

#blocco-info {
    justify-content: space-between;
    width: calc(100% - 5rem);
    padding: 5px 0px 10px 2.5rem;
}

#blocco-o-footer {
    width: 300px;
    text-align: left;
    gap: 12px;
    display: flex;
    font-size: 12px;
    padding: 10px 0px 20px 0px;
    padding-top: 2px;
}

#blocco-o-footer a {
    text-decoration: none;
    color: #ccc;
}

#blocco-o-footer :hover {
    text-decoration: underline;
    color: #F5F5F5;
    cursor: pointer;
}

#blocco-info-icons {
    display:flex;
    justify-content: space-between;
}

#blocco-v-footer {
    font-size: 10px;
    color: #ccc;
    align-self: flex-end;
    margin-bottom: 1px;
}

#icons img {
    width: 1em;
    fill:#F5F5F5;
    margin: 0 0 4px 10px;
}

/* Responsive UI */
@media (max-width: 1200px) {
    #nav-list {
        gap: 0px;
    }

    #hero h1 {
        font-size: 64px; 
        top: 16%; 
        left: 5%; 
    }
}

@media (max-width: 1000px) {
    #hero h1 {
        font-size: 48px; 
        top: 12%; 
        left: 5%; 
    }
}

@media (max-width: 800px) {
    #nav-list {
        font-size: 13.5px;
    }

    #marchio-navbar {
        font-size: 18px;
    }
    
     #hero h1 {
        font-size: 36px; 
        top: 10%; 
        left: 6%; 
        width: 90%; 
    }

    .blocco {
        display: block;
    }

    .blocco-immagine {
        margin-left: 0;
        margin: 40px 0px;
        display: block;
        text-align: center;
    }
    
   .immagine-ribbon {
    height: 350px;
    object-fit: cover;
    }   

    #ribbon-finale {
        margin-bottom: 0px;
    }    

    #blocco-o-footer {
        align-content: end;
        position: absolute;
    }

    #icons {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 600px) {
    body {
        font-size: 15px;
    }

    h2 {
        font-size: 1.6em;
    }
    
    #hero h1 {
        font-size: 30px; 
        top: 10%; 
        left: 7%; 
        width: 90%; 
    }

    .nav-item {
        width: 60px;
        font-size: 12px;
    }
    
    #marchio-navbar {
        font-size: 16px;
    }

    #blocco-info {
        font-size: small;
    }

    #blocco-v-footer {
        margin-top: 40px;
    }

    #icons {
        align-self: end;
    }
}

@media (max-width: 500px) {

    #hero h1 {
        font-size: 24px; 
        top: 8%; 
        left: 9%; 
        width: 90%; 
    }

    #marchio-footer {
        font-size: 16px;
    }

    #blocco-info {
        font-size: 10px;
    }
}

@media (max-width: 430px) {
    body {
        font-size: 15px;
    }

    h2 {
        font-size: 1.5em;
    }

    #marchio-navbar {
        font-size: 12px;
    }

    .nav-item {
        width: 50px;
        font-size: 10px;
    }

    #hero h1 {
        font-size: 16px; 
        top: 7%; 
        left: 12%; 
        width: 90%; 
        line-height: 115%;
    }

    #marchio-footer {
        font-size: 14px;
    }

    #blocco-o-footer, #blocco-v-footer {
        font-size: 10px;
    }

    #icons img {
        width: 1.6em;
        padding-right: 0.5rem;
    }
}