* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
    color: #F5F5F5;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    margin: 0;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

img {
    max-width: 100%;
    max-height: 100%;
}


/* Navbar */

#navbar {
    margin: 0 auto;
    padding: 30px 2.5rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: calc(100% - 5rem);
    backdrop-filter: blur(5px);
    z-index: 10;
}

#nav-list {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

#marchio-navbar {
    font-size: x-large;
    font-weight: bold;
}

.nav-item {
    width: 124px;
    text-align: center;
}

.nav-item a {
    color: #F5F5F5;
    text-decoration: none;
}

.nav-item a:hover {
    font-weight: bold;
}

.nav-menu {
    align-self: self-end;
    margin-bottom: 1px;
}

/* Hero section */

#hero h1 {
    font-family: "DM Serif Display", serif;
    font-size: 72px;
    font-weight: 900;
    
    line-height: 108%;
    letter-spacing: -4%;
    position: absolute;
    z-index: 0;
    top: 170px;
    left: 5rem; 
    
}

#hero img {
    width: 100%; 
    margin-bottom: 20px; 
}

/* Blocchi */

.blocco {
    display: grid;
    margin: 0 auto;
    padding: 30px 2.5rem;
    grid-template-columns: 66% 33%;
    max-width: 1000px;
}   

.blocco-titolo {
    margin-bottom: 20px; 
}

.blocco-testo p {
    margin-bottom: 20px; 
}

.blocco-didascalia {
    margin-top: 20px;
    font-size: 14px;
    font-style: italic;
}

.blocco-immagine {
    margin-left: 40px;
}

.immagine-ribbon {
    width: 100%;
    margin-bottom: 20px;
}

/* Footer */

#footer {
    background-color:#121212;
    padding-bottom: 10px;
}

#marchio-footer {
    font-size: x-large;
    font-weight: bold;
    padding: 20px 0px 0px 2.5rem;
    width: calc(100% - 5rem);
}

#blocco-info {
    justify-content: space-between;
    width: calc(100% - 5rem);
    padding: 5px 0px 5px 2.5rem;
}

#blocco-o-footer {
    width: 300px;
    text-align: left;
    gap: 12px;
    display: flex;
    font-size: 12px;
    color: #ccc;
    padding-bottom: 20px;
    padding-top: 2px;
}

#blocco-o-footer :hover {
    text-decoration: underline;
    color: #F5F5F5;
}

#blocco-info-icons {
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#blocco-v-footer {
    font-size: 10px;
    color: #ccc;
}

#icons img {
    width: 1em;
    fill:#F5F5F5;
}
